*{
	margin: 0px;
	padding: 0px;
}

.form{
	border: solid gray 2px;
	width: 400px;
	border-radius:10px;
	margin: 0px auto;
	background: white;
	padding: 25px;
	
	
}

.input_grp{
	margin: 10px 0px 10px 0px;
}

.input_grp label{
	display: block;
	text-align: left;
	margin: 3px;
	font-size: 18px;
}

.input_grp input{
	height: 30px;
	width: 90%;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 5px;
	border:1px solid gray;
}


.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background-color: #5F9EA0;
	border:none;
	border-radius: 5px;
	cursor: pointer;
}
.r_btn{
	padding: 10px;
	font-size: 15px;
	color: black;
	background-color: white;
	border:none;
	border-radius: 5px;
	cursor: pointer;
}

body{
	font-size: 120%;
	background-image: url('images/log1.jpg');
}

.header{
	width: 30%;
	margin:50px auto 0px;
	color: black;
	background-color:#5F9EA0;
	text-align: center;
	border:1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px;
	padding:20px; 
}

h1{
	padding-top: 30px;
}

#footer{
		font-weight: bold;
		
}
